body{
  background-color: rgb(189, 188, 188);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.display{
  height: 75px;
  width: 270px;
  background-color: rgb(224, 224, 224);
  border-radius: 5%;
}


.inner-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 500px;
  width: 300px;
}

.button{
  height: 50px;
  width: 50px;
  margin: 4px 10px;
  border-radius: 30%;
}